uumsDecoxy/wsdl/UserAuthWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.user.decoxy.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.user.decoxy.com" xmlns:intf="http://webservice.user.decoxy.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.user.decoxy.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loginUser">
    <complexType>
     <sequence>
      <element name="parm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginUserResponse">
    <complexType>
     <sequence>
      <element name="loginUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUser">
    <complexType>
     <sequence>
      <element name="parm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerUserResponse">
    <complexType>
     <sequence>
      <element name="registerUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUser">
    <complexType>
     <sequence>
      <element name="parm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateUserResponse">
    <complexType>
     <sequence>
      <element name="updateUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUser">
    <complexType>
     <sequence>
      <element name="parm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteUserResponse">
    <complexType>
     <sequence>
      <element name="deleteUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserInformation">
    <complexType>
     <sequence>
      <element name="parm" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserInformationResponse">
    <complexType>
     <sequence>
      <element name="getUserInformationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateUserRequest">

      <wsdl:part element="impl:updateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginUserResponse">

      <wsdl:part element="impl:loginUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInformationResponse">

      <wsdl:part element="impl:getUserInformationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserResponse">

      <wsdl:part element="impl:registerUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserResponse">

      <wsdl:part element="impl:deleteUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateUserResponse">

      <wsdl:part element="impl:updateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerUserRequest">

      <wsdl:part element="impl:registerUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginUserRequest">

      <wsdl:part element="impl:loginUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInformationRequest">

      <wsdl:part element="impl:getUserInformation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteUserRequest">

      <wsdl:part element="impl:deleteUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UserAuthWS">

      <wsdl:operation name="loginUser">

         <wsdl:input message="impl:loginUserRequest" name="loginUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginUserResponse" name="loginUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerUser">

         <wsdl:input message="impl:registerUserRequest" name="registerUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerUserResponse" name="registerUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdl:input message="impl:updateUserRequest" name="updateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateUserResponse" name="updateUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdl:input message="impl:deleteUserRequest" name="deleteUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteUserResponse" name="deleteUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInformation">

         <wsdl:input message="impl:getUserInformationRequest" name="getUserInformationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserInformationResponse" name="getUserInformationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserAuthWSSoapBinding" type="impl:UserAuthWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInformation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInformationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserInformationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserAuthWSService">

      <wsdl:port binding="impl:UserAuthWSSoapBinding" name="UserAuthWS">

         <wsdlsoap:address location="http://localhost:8080/uums/services/UserAuthWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
